# Notion
NOTION_API_KEY=your_notion_integration_key_here
WHOOP_RECOVERY_DB_ID=your_database_id_here
LIFT_LOG_DB_ID=your_database_id_here
WEEKLY_PROGRAMS_PAGE_ID=your_page_id_here

# Whoop
WHOOP_CLIENT_ID=your_whoop_client_id_here
WHOOP_CLIENT_SECRET=your_whoop_client_secret_here
WHOOP_REDIRECT_URI=http://localhost:8080/callback
